@font-face{
    font-family: "Neuropol";
    src: url("/fonts/neuropol.otf") format("opentype")
}
@font-face{
    font-family: "Pridi";
    font-weight: normal bold light;
    src:
        local("Pridi"),
        url("/fonts/Pridi-Bold.ttf") format("TrueType"),
        url("/fonts/Pridi-Light.ttf") format("TrueType"),
        url("/fonts/Pridi-Regular.ttf") format("TrueType");

}
@font-face{
    font-family: "Conthrax Sb";
    src: url("/fonts/conthrax-sb.otf") format("opentype")
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    //font-size: calc(0.4rem + 1vh);
    font-size: calc(0.75rem + .3vw);
}

:root {
    --clip-time-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    --color-content-emphasis: #F2FFFF;
    --color-content-base: #B7D3DA;
    --color-content-inverse: rgba(20, 20, 20, .5);

    --color-bg-emphasis: #265040;
    --color-bg-base: #141414;
    --color-bg-inverse: #59A5AD;
    --color-bg-side: #B7D3DA;
    --color-bg-island: rgba(38, 80, 64, .20);
}