:root {
    --video-width: 400px;
    --sections-offset: 230px;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Playfair Display SC";
    font-weight: 800;
    letter-spacing: 4px;
    color: white;
}

body {
    background-color: #1e1e1e;
}

main {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0px;
}
h2 {
    font-size: 3em;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    /* animation: underline; */
    text-underline-offset: 4px;
    text-decoration: underline;
}

.cover {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.background {
    z-index: -1;
}

.divider {
    /* display: inline-block; */
    border-top: 2px solid white;
    width: 320px;
    margin: 16px auto;
}

.video {
    border-radius: 32px;
    width: var(--video-width);
    height: calc(var(--video-width) * 0.5625);
}

.d-flex {
    display: flex;
}

.flex-item {
    margin: auto;
}

.flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.content {
    /* display: block; */
    margin: auto;
    width: 1000px;
    height: 100%;
    text-align: center;
}

.capture {
    height: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: calc(-50vh + var(--sections-offset));
}

.capture > span {
    align-items: center;
    text-align: center;
}

.buttons {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;
}

.button {
    margin: 5px;
    width: 400px;
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 2px;
    border-radius: 32px;
}

.button:hover {
    border-color: white;
    transform: translateY(-1px);
}

.button:active {
    transform: scale(0.99);
}

#sections {
    text-align: center;
}

#background * {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 120%;
    object-fit: cover;
    /* filter: blur(8px); */
    transform: scale(1.2);
}

#overground {
    background-color: rgba(0, 0, 0, 0.7);
}

#video-anchor,
#album-anchor {
    order: 1;
}
#artbook {
    order: 3;
}
