@keyframes underline {
    from {
        text-decoration: none;
    }
    to {
        text-decoration: underline;
    }
}

@keyframes html,
body {
    margin: 0;
    height: 100%;
    font-family: "Playfair Display SC";
    font-weight: 800;
    letter-spacing: 4px;
    color: white;
}

body {
    background-color: #1e1e1e;
}

.cover {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.cover img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 120%;
    /* object-fit: cover; */
    filter: blur(8px);
    transform: scale(2);
}

#background-video {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#background-video-video {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
    object-fit: cover;

    /* filter: blur(4px); */
    transform: scale(1.2);
}

#overground {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

h1 {
    margin-bottom: 0px;
}

.video {
    border-radius: 16px;
    --vidw: 400px;
    width: var(--vidw);
    height: calc(var(--vidw) * 0.5625);
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;
}

.divider {
    border-top: 2px solid white;
    width: 320px;
    margin: 16px;
}

.buttons {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;
}

.button {
    margin: 5px;
    width: 400px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
}

.button:hover {
    border-color: white;
    transform: scale(1.01);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    animation: underline;
    text-underline-offset: 4px;
    /* text-decoration: underline; */
}

#livestream,
#album {
    order: 1;
}
#artbook {
    order: 3;
}

@media screen and (orientation: portrait) {
    body {
        background-size: 3840px;
    }
    #background-video-video {
        height: 100%;
    }
}

/* button size fix */
@media only screen and (max-width: 420px) {
    h1 {
        font-size: 2em;
    }
    .button {
        width: calc(100vw - 20px);
    }
    .divider {
        width: calc(100vw - 100px);
    }
}

/* video size fix */
@media only screen and (max-width: 560px) {
    .video {
        width: 100%;
        height: calc(100vw * 0.5625);
    }
}

@media only screen and (min-height: 600px) {
    .content {
        justify-content: center;
    }
}
@media only screen and (min-height: 720px) {
    .video {
        --vidw: 560px;
        height: calc(var(--vidw) * 0.5625);
    }
}

@media screen and (orientation: landscape) {
    @media only screen and (min-height: 960px) {
        .video {
            --vidw: 960px;
            height: calc(var(--vidw) * 0.5625);
        }
    }
    @media only screen and (min-height: 1080px) {
        .video {
            --vidw: 1080px;
            height: calc(var(--vidw) * 0.5625);
        }
        .button {
            width: 280px;
            margin: 0px 20px;
        }
        #livestream {
            order: 2;
        }
        #livestream .button {
            width: 400px;
        }

        .buttons {
            -webkit-flex-direction: row;
            flex-direction: row;
            float: left;
        }
    }

    @media only screen and (min-width: 3000px) {
        .video {
            --vidw: 1920px;
            height: calc(var(--vidw) * 0.5625);
        }
    }
}
